# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate --freeze
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/google/keep-sorted
    rev: c71803fd297b5736f3bfab1cfd84424ca52e961a  # frozen: v0.7.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95 # frozen: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/thiagowfx/pre-commit-hooks/
    rev: 1d2024b72317a545ef9745a57215782b8aa7eb52  # frozen: v0.0.11
    hooks:
      - id: check-bash-shebang
        types:
          - shell
      - id: just-format
  - repo: https://github.com/zimbatm/mdsh.git
    rev: 4b8fb1e7b52a65d6ea875ede3272ac3571f5d015  # frozen: v0.9.2
    hooks:
      - id: mdsh
